@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");

:root {
  --bd-body: hsl(218, 23%, 16%);
  --card-bg: hsl(217, 19%, 24%);
  --advice-number-color: hsl(150, 100%, 66%);
  --dice-bg: hsl(150, 100%, 66%);
  --main-text-color: hsl(193, 38%, 86%);
  --btn-color: hsl(0, 0%, 100%);
}

.body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--bd-body);
}

.body-dark {
  --bd-body: #ffffff;
  --card-bg: hsl(219, 79%, 43%);
  --advice-number-color: hsl(213, 99%, 71%);
  --dice-bg: hsl(213, 100%, 54%);
  --main-text-color: hsl(0, 0%, 100%);
  --btn-color: hsl(219, 79%, 43%);
}

.toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 15px 30px;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid var(--btn-color);
  font-size: 18px;
  color: var(--btn-color);
  background-color: transparent;
  cursor: pointer;
}

.toggle-btn:active {
  opacity: 0.6;
  transform: scale(0.98);
}

.advice-card {
  width: 100%;
  max-width: 500px;
  background-color: var(--card-bg);
  border-radius: 20px;
  padding: 10px 20px;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
  color: var(--main-text-color);
}

.splitter-mobile {
  display: none;
}

.advice-number {
  margin-top: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--advice-number-color);
}

.splitter {
  margin: 30px 0 70px 0;
}

.dice {
  width: 80px;
  height: 80px;
  background-color: var(--dice-bg);
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  transition: 0.3s ease;
  cursor: pointer;
}

.dice:hover {
  box-shadow: 0 0 30px 9px var(--dice-bg);
}

.rotate {
  transform: rotate(90deg);
}

@media only screen and (max-width: 600px) {
  .advice-card {
    margin: 0 20px;
    width: fit-content;
  }

  #text {
    font-size: 20px;
  }

  .splitter {
    display: none;
  }

  .splitter-mobile {
    display: block;
    margin: 70px 0;
  }
}
